<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
</head>
<body>
<h1>URL Shortener</h1>
<form action="/url" method="POST">
    <input type="text" name="url"/>
    <input type="submit">
</form>

<ul>
    {{#each urlObjs}}
        <li>{{this.url}} -- <b>{{this.shortUrl}}</b></li>
    {{/each}}
</ul>
</body>
</html>